bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
Initialization/appsettings.Development.json

# Default ignored files
.idea/shelf/
.idea/workspace.xml
# Rider ignored files
.idea/modules.xml
.idea/contentModel.xml
.idea/projectSettingsUpdater.xml
/.idea.TrendingIdeasAPI.iml
# Editor-based HTTP Client requests
.idea/httpRequests/
# Datasource local storage ignored files
.idea/dataSources/
.idea/dataSources.local.xml
